@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafbfb; /* polaris-surface-subdued */
  color: #202223; /* polaris-text */
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;
}
